<component name="libraryTable">
  <library name="mybatis-3.4">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../lib/mybatis-3.4.6" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../lib/mybatis-3.4.6" recursive="false" />
  </library>
</component>