<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://myBatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zqx.mapper.PersonMapper">


    <!--嵌套查询-->
    <select id="findPersonById" parameterType="Integer"
            resultMap="IdCardWithPersonResult">
        select * from tb_person where id=#{id}
    </select>
    <resultMap id="IdCardWithPersonResult" type="Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>

        <association property="idCard"
                     column="card_id"
                     javaType="IdCard"
                     select="com.zqx.mapper.IdCardMapper.findCodeById"/>
    </resultMap>


    <!--嵌套结果:只执行一条SQL语句，提高运行效率-->
    <select id="findPersonById2" parameterType="Integer" resultMap="IdCardWithPersonResult2">
        select p.*,idcard.code
        from tb_person p,tb_idcard idcard
        where p.card_id=idcard.id
        and p.id=#{id}
    </select>
    <resultMap id="IdCardWithPersonResult2" type="Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <association property="idCard" javaType="IdCard">
            <id property="id" column="id"/>
            <result property="code" column="code"/>
        </association>
    </resultMap>
</mapper>
